* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}

#answer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#answer div {
    margin-bottom: 10px;
    font-size: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}
